form {
  display: flex;
  font-weight: 600;
  flex-direction: column;
}

.button-counter {
  padding-top: 0.5em;
  padding-bottom: 1.5em;
  font-family: 'Bungee', cursive;
  display: flex;
  justify-content: space-between;
  border-top: solid;
}

textarea {
  height: 35px;
  width: 100%;
  display: flex;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: none;
  background-color: inherit;
}

button {
  color: white;
  background-color: #4056A1;
}

output {
  align-items: flex-end;
}